MINECRAFT_HOST=localhost
MINECRAFT_PORT=25565
BOT_USERNAME=animabot

# LLM Configuration
OPENAI_API_KEY=...
OPENAI_BASE_URL=https://openrouter.ai/api/v1/
CHAT_MODEL_NAME=google/gemini-3.1-pro-preview
CODING_MODEL_NAME=google/gemini-3-flash-preview
MEMORY_MODEL_NAME=google/gemini-3-flash-preview
WORLD_NAME=new_world19

# Prompt Paths
PROMPT_PATH=agent/prompts